<template>

  <v-container  grid-list-xl class="container">
    <!--<v-flex xs12 sm12 md12 lg12 style="background-color: yellow">-->
    <v-layout row>
    <v-flex align-content-end style="overflow: auto; padding: 0 0 0 0;  height:500px" xs4 sm2 md2 lg2 >
      <v-flex  style="padding: 0 0 0 0;"  v-for="index in questionLen" :key="index">
        <div
          class="buttonBox"
          style="
                border-style: solid;
                border-width: 1px !important;
                border-color: white;"
          @click="changeQuestion(index)">
          <p></p>


          <div align="center" class="dot">{{index}}</div>
          <p></p>

        </div>
        <div align="center"  v-if="index === questionLen">
          <v-btn fab dark color="red" @click="giveUpConfirmDisplay = true">Give up</v-btn>
        </div>

      </v-flex>

    </v-flex>
      <v-flex style="width: 500px">
    <v-flex class="Title+time">

      <v-layout row justify-space-between >
      <v-flex  xs6 sm9 class="third--text headline">
        <h2>{{this.testName + " Tier " + this.tier}}</h2>
      </v-flex>

        <v-flex  box-shadow  xs6 sm3 ml3 lx3  style="background-color: #78c10e; border-radius: 8px; ">
        <timer v-on:timesUp="timesUp" v-bind:deadline="dueDate"></timer>

        <v-layout row justify-center>
          <v-dialog v-model="dialog" persistent max-width="290" value=true>
            <!--<v-btn slot="activator" color="primary" dark>Press to mehh</v-btn>-->
            <v-card>
              <v-card-title class="headline"> Time's up ! </v-card-title>
              <v-card-text>
               Your test will be automatically submitted.
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" flat @click="timesUpConfirm">ok</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-layout>

          <v-layout row justify-center>
            <v-dialog v-model="submitDialog" persistent max-width="290" value=true>
              <!--<v-btn slot="activator" color="primary" dark>Press to mehh</v-btn>-->
              <v-card>
                <v-card-title class="headline"> All of your answers have been submitted</v-card-title>
                <v-card-text>
                  Well done!
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" flat @click.native="submitDialog = false">ok</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-layout>
          <v-layout row justify-center>
            <v-dialog v-model="submitConfirmDisplay" persistent max-width="290" value=true>
              <!--<v-btn slot="activator" color="primary" dark>Press to mehh</v-btn>-->
              <v-card>
                <v-card-title class="headline"> Are you sure you want to submit?</v-card-title>
                <v-card-text>
                  After this point all of yours answers will be submitted, nothing can be changed.
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" flat @click="submitConfirm">yes</v-btn>
                  <v-btn color="green darken-1" flat @click.native="submitConfirmDisplay = false">no</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-layout>
          <v-layout row justify-center>
            <v-dialog v-model="giveUpConfirmDisplay" persistent max-width="290" value=true>
              <!--<v-btn slot="activator" color="primary" dark>Press to mehh</v-btn>-->
              <v-card>
                <v-card-title class="headline"> Are you sure you want to Give up?</v-card-title>
                <v-card-text>
                  All of yours answers will NOT be submitted.
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" flat @click="giveUp">yes</v-btn>
                  <v-btn color="green darken-1" flat @click.native="giveUpConfirmDisplay = false">no</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-layout>



      </v-flex>
      </v-layout>


    </v-flex>
    <v-layout row wrap >

        <v-flex text-xs-center xs12 sm12 md12 lg12 >

          <v-card v-if="currentQuestionType === 'MCQ'">
            <v-flex >
              <h1>QUESTION {{currentQuestionNumber}} </h1>
              <h2>{{currentQuestion}}</h2>
            </v-flex>

            <v-list-tile v-for="choice in currentAnswer" :key="choice">
              <v-list-tile-action>
                <v-checkbox v-bind:label="choice" v-model="currentChosenAnswer" v-bind:value=choice  ></v-checkbox>
              </v-list-tile-action>

              <!--<v-list-tile-content >-->
                <!--<v-list-tile-title > {{choice}}</v-list-tile-title>-->
              <!--</v-list-tile-content>-->
            </v-list-tile>
          </v-card>
          <v-card v-else>
            <v-flex >
              <h1>QUESTION {{currentQuestionNumber}} </h1>
              <h2>{{currentQuestion}}</h2>
            </v-flex>
            <v-textarea
              name="answer"
              box
              label="Put your answer here."
              auto-grow
              hide-detail
              v-model="currentChosenAnswer"
            ></v-textarea>
          </v-card>

          <v-flex offset-xs6 offset-sm9 offset-md10 offset-xl10  >
            <div v-if="currentQuestionNumber!==questionLen">
              <v-btn left dark color="third" v-on:click="save">Next</v-btn>
            </div>
            <div v-else>
              <v-btn left dark color="green" v-on:click="clickSEND_THE_EXAM">Send the exam</v-btn>
            </div>

          </v-flex>
        </v-flex>
        <!--<v-btn @click="a()"></v-btn>-->
    </v-layout>
    </v-flex>
    </v-layout>
  </v-container>


</template>

<script>
  // when this conponent get call we must know the remaining time to set the timer
  import timer from './timer.vue'
  import {submitTest, getTimeDifference} from "../../../functions";
  import {auth, db} from "../../firebase.js";
  import router from "../../router"
    export default {
      name: "test",
      data() {
        return {
          testName: 'NULL',
          tier:0,
          currentQuestion: "NULL",
          currentAnswer: [],
          currentChosenAnswer:[],
          currentQuestionType: "",
          currentQuestionNumber: 1,
          giveUpConfirmDisplay: false,
          questionLen:0,
          dialog: false,
          submitDialog: false,
          submitConfirmDisplay: false,
          confirm: false,
          dueDate: '',
          lst_chosenAnswer: [] // this is for saving
        }
      },
      beforeMount(){
        const currentQuestion = this.getRawQuestion()
        // console.log(currentQuestion)
        if(currentQuestion == null){
          // console.log("User didn't have any test yet")
          router.push('/dashboard')
        }else{
          //Update current Question
          const temp = this.extractQuestion(currentQuestion,this.getRawAns())
          this.questions = temp[0]
          this.questionLen = temp[1]
          this.updateQuestion(1)
          this.dueDate = this.startTimer()
        }


      },
      components:{
        timer
      },
      methods: {
        a(){
          console.log(this.currentQuestionNumber)
          console.log(this.currentChosenAnswer)
          console.log(this.questionLen)
          console.log(this.rawQuestions)
          console.log(this.rawAnswers)
        },
        deleteCurrentChallenge(){
          let uid = auth.currentUser.uid;
          let ref = "/Users/"+uid;
          db.ref(ref).child("challengeQuestions").remove()
          db.ref(ref).child("challengeTime").remove()
          if(db.ref(ref).child("currentAnswer") != null){
            db.ref(ref).child("currentAnswer").remove()
          }
        },
        giveUp(){
            this.giveUpConfirmDisplay = false;
            // console.log("Go some where")
          this.deleteCurrentChallenge()
            router.push('/dashboard')

        },
        timesUp(){
          //display dialog
          this.dialog = true
          // console.log("Time up")
          // alert("Time's up, please hand in the exam.")
          // this.timesUpConfirm()

          // console.log('go some whereeee~~~~~~~~~~~~~~~')

        },
        timesUpConfirm(){
          // console.log("Time's up confirmed")
          this.allDone(true)
          this.dialog = false
        },
        startTimer: () => {
          var date = new Date()
          Date.prototype.addHours = function(h){
            this.setHours(this.getHours()+h);
            return this;
          }
          Date.prototype.addSeconds = function(s){
            this.setSeconds(this.getSeconds()+s)
            return this;
          }
          Date.prototype.addMinutes = function(m){
            this.setMinutes(this.getMinutes()+m)
            return this
          }
          Date.prototype.decMiliSec = function(ms){
            this.setMilliseconds(this.getMilliseconds()-ms)
          }

          var remainingHour;
          var remainingMinutes;
          var remainingSecond;
          let uid = auth.currentUser.uid;
          let path = "/Users/"+uid;
          const ref_dataFromDB = db.ref(path).child('challengeTime')
          ref_dataFromDB.on('value', (snapshot) => {
            if(snapshot.val() != null){


            var timeDiff = getTimeDifference(snapshot.val().start);

            date.addHours(1)
            date.decMiliSec(timeDiff)
            // date.addHours(5)

            // date.addSeconds(10)
            }
          },(errorObject) => {
            console.log("The read failed: " + errorObject.code);
          })

          return ( date.toLocaleDateString() + " " + date.toLocaleTimeString() )
          // return('meh')
        },
        submitConfirm(){
          // console.log("pattya biy")
          this.confirm = true
          this.allDone(false)
          // console.log("done calling all sone")
          this.submitConfirmDisplay = false

        },
        allDone(force){
          // console.log("kuy from allDone")
          this.save(false)

            if(force){
              this.submit()
            }else{
              if(this.confirm){
                // console.log("kuy")
                this.submit()
              }
            }
        },
        clickSEND_THE_EXAM(){
          this.submitConfirmDisplay = true
        },
        submit(){
          // const challenge = this.$store.getCurrentChallenge();
          // var question = challenge.questions;
          // var answer = {};
          // var tier = challenge.tier;
            const challenge = this.rawQuestions;
            var question = challenge.questions;
            var answer = {};
            var tier = this.tier;

            for(let i in this.questions){
              answer[this.questions[i].question] = this.questions[i].chosenAnswer ;
            }

            //getting the result from Taro's function
            var result = submitTest(question, answer,tier);
            const pre_push =  {
              score: (result[0]/result[1])*100.,
              skill: challenge.name,
              tier: challenge.tier
            }
            // write back to firebase real time database.
            const uid = auth.currentUser.uid;
            const snapshot =db.ref('Users/'+uid)
              .child('pastTest/')
              .push(pre_push)

            let ref = "/Users/"+uid;
          this.deleteCurrentChallenge()

            this.submitDialog = true



            router.push('/dashboard')


        },

        changeQuestion(number){
          this.save(false)
          this.updateQuestion(number)
        },
        save(goNext){
            //Get the current chosen answer and update it to questions
            // console.log("currentQuestion",this.currentQuestion)
            this.questions[this.currentQuestionNumber-1].chosenAnswer = this.currentChosenAnswer
            // console.log("UpdateQuestion",this.questions)
            // console.log("Go to the next question or stay if it's the last question")
            if(this.currentQuestionNumber+1 <= this.questions.length && goNext) {
            // console.log("Go to next")
              this.updateQuestion(this.currentQuestionNumber+1)
            }

            // create an object of chosenAnswer eg. {index: [ans1, ans2,..,]}
            var toBeSaveAnswer = {};
            for(let i in this.questions){
              toBeSaveAnswer[i] = this.questions[i].chosenAnswer

            }
            // console.log("TOBE",toBeSaveAnswer)

            // save it in store.
            // this.$store.dispatch('updateChosenAnswer', toBeSaveAnswer)
          //Save it in DB
          let uid = auth.currentUser.uid;
          let path = "/Users/"+uid;
          db.ref(path).child("currentAnswer").set(toBeSaveAnswer)
          // console.log("Save Ans to DB")
          },
        updateQuestion(number){
            // console.log("Update question ",number)
            this.currentQuestionNumber = number
            const index = number-1
            this.currentQuestion = this.questions[index].question
            this.currentAnswer = this.questions[index].answer
            this.currentChosenAnswer = this.questions[index].chosenAnswer
            this.currentQuestionType = this.questions[index].type
        },
        extractQuestion(rawQuestion, rawAnswer){
          // console.log("raw que",rawQuestion)
          // console.log("raw ans",rawAnswer)
          this.testName = rawQuestion.name
          this.tier = rawQuestion.tier
          let questions = []
          for(let index in rawQuestion.questions){
            // console.log(index)
            const q = rawQuestion.questions[index]
            let a =[]
            if(rawAnswer != null && rawAnswer[index] != null){
              a = rawAnswer[index]
            }
            const question = {type:q.type,id:index,question:q.question,chosenAnswer:a,answer: []}
            question.answer = q.correct.concat(q.wrong)
            questions[index] = question
          }
          // console.log("Extracted Question",questions)
          return [questions,rawQuestion.questions.length]
        },
        getRawQuestion(){
          // console.log(this.$store.getters)

          //DB version
          let uid = auth.currentUser.uid;
          let path = "/Users/"+uid;
          const ref_dataFromDB = db.ref(path).child("challengeQuestions")
          ref_dataFromDB.on('value', (snapshot) => {
            // console.log("currentQuestions",snapshot.val());
            //Todo : exract data from snapshot to look like
            this.rawQ = snapshot.val()
          },(errorObject) => {
            console.log("The read failed: " + errorObject.code);
          })
          return this.rawQ
          //$store version
          // return this.$store.getters.getCurrentChallenge
        },
        getRawAns(){
          let uid = auth.currentUser.uid;
          let path = "/Users/"+uid;
          const ref_dataFromDB = db.ref(path).child("currentAnswer")
          if(ref_dataFromDB != null){
            ref_dataFromDB.on('value', (snapshot) => {
              // console.log("currentAnswer",snapshot.val());
              //Todo : exract data from snapshot to look like
              this.rawA = snapshot.val()
            },(errorObject) => {
              console.log("The read failed: " + errorObject.code);
            })
            return this.rawA
          }else{
            return null
          }
        },
      },
      computed:{
        rawQuestions() {
          // console.log("rawUpdate")
          return this.getRawQuestion()
        },
        rawAnswers(){
          return this.getRawAns()
        },
        questions :{
          get(){
            // console.log("question Update")
            const temp = this.extractQuestion(this.rawQuestions,this.rawAnswers)
            this.questionLen = temp[1]
            return temp[0]
          },
          set (){

          }

        },
        // questionLen(){
        //   return this.rawQuestions.questions.length
        // }
      }

    }
</script>

<style scoped>

  /*.quickAccess{*/
    /*size: 1em;*/
  /*}*/
  .container {
    counter-reset: testNumber;
  }
  .buttonBox{
    transition: all .2s ease-in;
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%)*/
    background-color: #78c10e;
    cursor: pointer;
    border-radius: 2px;
  }
  .buttonBox:hover {
    background: #4c7a09;
  }
  .dot {
    margin-left: 16px;
    padding-top: 4px;
    height: 30px;
    width: 30px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  /*.list::after {*/
    /*counter-increment: testNumber;*/
    /*content: counter(testNumber)"....";*/
  /*}*/


</style>
