<template>
  <v-container fluid pa-0 >
      <v-content >
        <section >
          <v-parallax src="static/resizeimage2.jpg" height="600" >
            <v-layout
              column
              align-center
              justify-center
              class="white--text"
            >
              <!--<img src="assets/vuetify.png" alt="Vuetify.js" height="200">-->
              <h1 class="white--text mb-2 display-3 font-weight-bold text-xs-center">Online Skills Testing | Technical Screening </h1>
              <div class="subheading mb-3 text-xs-center">Powered by Vuetify</div>

            </v-layout>
          </v-parallax>
        </section>

        <section>
          <v-layout
            column
            wrap
            class="my-5"
            align-center
          >
            <v-flex xs12 sm4 class="my-3">
              <div class=" white--text text-xs-center">
                <h2 class="display-1">Why is our web site better than others?</h2>
              </div>
            </v-flex>

            <v-flex xs12>
              <v-container grid-list-xl>
                <v-layout row wrap align-center text-xs-center>
                  <v-flex xs12 md4>
                    <v-card class="elevation-0 transparent" dark>
                      <v-flex>
                        <v-card-media
                          src="static/user.png"
                          height="125px"
                          contain
                        ></v-card-media>
                      </v-flex>
                      <v-card-title primary-title class="layout justify-center">
                        <div class=" third--text headline font-weight-medium">Find top devs</div>
                      </v-card-title>
                      <v-card-text>
                        Screen your candidates with work sample tests to identify real problem solvers.
                      </v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex xs12 md4>
                    <v-card class="elevation-0 transparent" dark>
                      <v-flex>
                        <v-card-media
                          src="static/speedometer.png"
                          height="125px"
                          contain
                        ></v-card-media>
                      </v-flex>
                      <v-card-title primary-title class="layout justify-center">
                        <div class="third--text headline font-weight-medium">Test what matters</div>
                      </v-card-title>
                      <v-card-text>
                        Verify their knowledge of programming languages, frameworks and libraries even if you can’t code.
                      </v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex xs12 md4>
                    <v-card class="elevation-0 transparent" dark>
                      <v-flex>
                        <v-card-media
                          src="static/browser.png"
                          height="125px"
                          contain
                        ></v-card-media>
                      </v-flex>
                      <v-card-title primary-title class="layout justify-center">
                        <div class="third--text headline font-weight-medium">Fast & solid results</div>
                      </v-card-title>
                      <v-card-text>
                        Make your hiring decisions data-driven and steer away from unconscious bias.
                      </v-card-text>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-flex>
          </v-layout>
        </section>

        <section>
          <v-parallax src="static/resizeimage2.jpg" class="parallax" >
            <v-layout column align-center justify-center>
              <div class="display-2 white--text mb-3 text-xs-center">Skills testing has never been easier</div>
              <div class="subheading"> Find out Your Expertises</div>

            </v-layout>
          </v-parallax>
        </section>

        <section >
          <v-container grid-list-xl class="secondar">
            <v-layout row wrap justify-center class="my-5">
              <v-flex xs12 sm4>
                <v-card class="elevation-0 transparent" dark>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Company info</div>
                  </v-card-title>
                  <v-card-text >
                    Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti.
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 sm4 offset-sm1>
                <v-card class="elevation-0 transparent" dark>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Contact us</div>
                  </v-card-title>
                  <!--<v-card-text>-->
                    <!--Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.-->
                  <!--</v-card-text>-->
                  <v-list class="transparent">
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon class="third--text">phone</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>1150</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon class="third--text">place</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>Salaya, Thailand</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon class="third--text">email</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>puyo@vuetifyjs.com</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </section>
      </v-content>
  </v-container>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<script>

  export default {
    data: () => ({
    })
  }
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
