<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="500px">

      <v-btn
        flat
        slot="activator"
        class="third--text"
      >
        <v-icon left dark >face</v-icon>
        Sign up
      </v-btn>

      <v-card class="elevation-12">

        <v-toolbar dark color="primary">
          <v-toolbar-title>Sign up</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-card-text>
          <v-form >
            <v-flex>
              <v-alert type="error" dismissible v-model="alert">
                {{ error }}
              </v-alert>
            </v-flex>
            <v-text-field
              prepend-icon="person"
              name="username"
              label="Username"
              v-model="username"
              type="text"></v-text-field>
            <v-text-field
              prepend-icon="email"
              name="email"
              label="Email"
              v-model="email"
              type="email"></v-text-field>
            <v-text-field
              prepend-icon="lock"
              name="password"
              label="Password"
              v-model="password"
              type="password"></v-text-field>
            <v-text-field
              prepend-icon="lock"
              name="confirmpassword"
              label="Confirm Password"
              v-model="passwordConfirm"
              :rules="[comparePasswords]"
              type="password"></v-text-field>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn color="primary" type="submit" @click="createAccount">Create an account</v-btn>
        </v-card-actions>
      </v-card>

    </v-dialog>
  </v-layout>
</template>

<script>
import firebase from 'firebase'
import { auth, db} from "../../firebase";
import router from '@/router'

export default {
      name: "Signup",
      data: () => ({
        username:'',
        email:'',
        password:'',
        passwordConfirm:'',
        dialog: this.open,
        alert: false
      }),
      props: ['open'],
      computed: {
        comparePasswords () {
          return this.password === this.passwordConfirm ? true : 'Passwords don\'t match'
        },
        error () {
          return this.$store.state.error
        },
      },
      methods: {
        createAccount() {
          if (this.comparePasswords !== true) {
            return
          }
          this.dialog = false
          this.$store.dispatch('createAccount', {
            email: this.email,
            password: this.password,
            username: this.username,
            bio: 'No description yet',
            trophies: "",
            skills: {softwareEngineer:1, algorithm:1, operatingSystem:1, dataAnalysis:1},
            pastTests: "",
          })
        }
      },
  watch: {
    error (value) {
      if (value) {
        this.alert = true
      }
    },
    alert (value) {
      if (!value) {
        this.$store.commit('setError', null)
      }
    }
  }
}
</script>

<style scoped>

</style>
