<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="500px">

      <v-btn
        flat
        slot="activator"
        class="third--text"
      >
        <v-icon left dark>lock_open</v-icon>
        Sign in
      </v-btn>

      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Sign in</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-flex>
              <v-alert type="error" dismissible v-model="alert">
                {{ error }}
              </v-alert>
            </v-flex>
            <v-flex>
              <v-text-field
                prepend-icon="person"
                name="email"
                label="Email"
                v-model="email"
                type="text"></v-text-field>
              <v-text-field
                prepend-icon="lock"
                name="password"
                label="Password"
                v-model="password"
                type="password"></v-text-field>
            </v-flex>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn color="primary" type="submit" @click="userSignIn">Login</v-btn>
        </v-card-actions>
      </v-card>

    </v-dialog>
  </v-layout>
</template>

<script>

  export default {
    name:"Signin",
    data: () => ({
      dialog: false,
      email:'',
      password:'',
      alert: false,
    }),
    props: [],
    methods: {
      userSignIn() {
        this.$store.dispatch('userSignIn', { email: this.email, password: this.password })
      }
    },
    computed: {
      error () {
        return this.$store.state.error
      },
    },
    watch: {
      error (value) {
        if (value) {
          this.alert = true
        }
      },
      alert (value) {
        if (!value) {
          this.$store.commit('setError', null)
        }
      }
    }
  }
</script>

<style scoped>

</style>
