<template>
  <v-container fluid grid-list-md>
    <v-layout col wrap>
      <v-flex
        v-for="item,index in challenges.length"
        :key="index"
        d-flex
        xs12 sm6 md3
        text-xs-center
      >
        <v-card>
          <v-flex>
            <v-card-media
              :src="`static/temp/`+challenges[index]['.key']+`.png`"
              height="125px"
              contain
            ></v-card-media>

            <div class="headline accent--text font-weight-medium" >
              {{titles[challenges[index]['.key']]}}
            </div>
            <v-card-text style="cursor: pointer">{{challenges[index].description}}</v-card-text>
            <v-layout wrap align-center>
              <v-flex xs2></v-flex>
              <v-flex class="text-xs-center" xs8>
                <div></div>
                <v-select
                  v-on:change="(newVal)=>changeTier(challenges[index]['.key'],newVal)"
                  :items="userTiers[challenges[index]['.key']]"
                  label="Tier"
                  outline
                ></v-select>
              </v-flex>
              <v-flex xs2></v-flex>
            </v-layout>

            <v-btn v-if="display[challenges[index]['.key']]" flat v-on:click="popupDialog(index)"> Start</v-btn>

            <v-dialog v-model="dialog" max-width="290">
              <v-card>
                <v-card-title class="headline">You're about to take {{titles[selectedField]}} {{tier}}</v-card-title>
                <v-card-text> To pass the challenge, you must achieve 80% of the total score.</v-card-text>
                <v-card-text> Your Highest : {{displaySelectedField[selectedField]}}% </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" flat="flat" @click.native="dialog = false">Back</v-btn>
                  <v-btn color="green darken-1" flat="flat" v-on:click="confirmChallenge">Confirm</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-dialog v-model="notFound" max-width="290">
              <v-card>
                <v-card-title class="headline">Oops!</v-card-title>
                <v-card-text> Sorry, the selected field is not available yet!.</v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" flat="flat" @click.native="notFound = false">Back</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-dialog v-model="notFinished" max-width="290">
              <v-card>
                <v-card-title class="headline">Oops!</v-card-title>
                <v-card-text> You haven't finish your current test!.</v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" flat @click="giveUp">Give Up</v-btn>
                  <v-btn color="green darken-1" flat @click="resume">Resume</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import {db, auth} from '../../firebase'
  import {generateQuestion} from "../../../functions";
  import * as _ from 'lodash';
  import router from '../../router';

  export default {
    name: "challenge",
    data() {
      return {
        row: 0,
        user: {},
        userTiers: {}, //user tiers for all fields
        selectedChallenge: '', //index
        page: 1,
        challenges: [],
        titles: {
          'algorithm': 'Algorithm',
          'operatingSystem': 'Operating System',
          'dataAnalysis': 'Data Analysis',
          'softwareEngineer': 'Software Engineer'
        },
        show: false,
        tier: 1, //tier to be submit for the question
        dialog: false,
        currentUser: {},
        notFound: false,
        notFinished: false,
        selectedTier: {}, //selected tier for each fields
        selectedField: '', // field name
        //pastTests[Algorithm1]
        pastTests: {}, //highest score of each tier and each field
        displaySelectedField: {}, //highest score of that field regardless of tier
        display: {} //boolean whether the button is display in refer to did the user choose the tier yet
      }
    },
    beforeMount() {
      this.syncUser();
    },
    mounted() {
      this.syncUser();
    },
    methods: {
      giveUp() {
        let uid = auth.currentUser.uid;
        let ref = "/Users/" + uid;
        db.ref(ref).child("challengeQuestions").remove()
        db.ref(ref).child("challengeTime").remove()
      },

      resume() {
        // this.$store.dispatch('createChallenge', this.user.challengeQuestions)
        router.push('/test')
      },
      clickme(msg, moremsg) {
        console.log(this.icons[moremsg['.key']])
      },
      syncUser() {
        let temp;
        db.ref('Users/' + this.$store.getters.getUser.uid).once('value').then((s) => {
          this.currentUser = s.val();
        })
      },
      popupDialog(chosenChallenge) {
        if (this.user.challengeQuestions) {
          this.notFinished = true;
          return
        }
        this.selectedChallenge = chosenChallenge;
        this.tier = this.selectedTier[this.challenges[this.selectedChallenge]['.key']];
        this.selectedField = this.challenges[this.selectedChallenge]['.key'];
        this.dialog = true;
      },
      confirmChallenge() {
        const date = new Date();
        generateQuestion(this.challenges[this.selectedChallenge]['.key'], this.tier).then(
          (result) => {
            if (result === "No such tier exist" || result === "No such topic exist") {
              this.notFound = true
            }
            else {
              let challengeTopic = this.challenges[this.selectedChallenge]['.key'];
              let uid = auth.currentUser.uid;
              let ref = "/Users/" + uid;
              db.ref(ref).child("challengeQuestions").set({name: challengeTopic, tier: this.tier, questions: result})
              // this.$store.dispatch('createChallenge', {name: challengeTopic, tier: this.tier, questions: result})
              const timeDate = {
                start: Date.now(),
                time: {hours: date.getHours(), minutes: date.getMinutes(), seconds: date.getSeconds()},
                date: {day: date.getDay(), month: date.getMonth(), year: date.getFullYear()}
              }
              db.ref(ref).child("challengeQuestions").set({name: challengeTopic, tier: this.tier, questions: result})
                .then(() => {
                  db.ref(ref).child("challengeTime").set(timeDate).then(() => {
                    router.push('/test')
                  })
                })
              // this.$store.dispatch('createChallenge', {name: challengeTopic, tier: this.tier, questions: result})
            }
          }
        ).catch(err => console.log(err));
        this.dialog = false;
      },
      changeTier(field, newTier) {
        this.selectedField = field
        this.selectedTier[field] = newTier
        this.display[field] = true
        if(this.pastTests[field+newTier] === undefined) {
          this.displaySelectedField[field] = 0
        }
        else {
            this.displaySelectedField[field] = Number(Math.round(parseInt(this.pastTests[field + newTier])+'e2')+'e-2').toFixed(2)
        }
      },
      getData() {
        let temp = []
        this.row = parseInt((this.fields.length / 4) + 1);
        if (this.currentUser !== null) {
          for (let i = 0; i < this.fields.length; i++) {
            temp.push(this.fields[i])
            let tierArray = []
            for (let j = 0; j < this.currentUser.skills[this.fields[i]['.key']]; j++) {
              tierArray.push(j + 1)
            }
            this.userTiers[this.fields[i]['.key']] = tierArray
            this.display[this.fields[i]['.key']] = false
          }
          if (this.currentUser.pastTest !== undefined) {
            for(let test in this.currentUser.pastTest) {
              let st = this.currentUser.pastTest[test].skill + this.currentUser.pastTest[test].tier;
              if (this.pastTests[st] !== undefined) {
                if (this.pastTests[st] < this.currentUser.pastTest[test].score) {
                  this.pastTests[st] = this.currentUser.pastTest[test].score
                }
              }
              else {
                this.pastTests[st] = this.currentUser.pastTest[test].score
              }
            }
          }
        }
        else if (this.challenges !== []) {
          return this.challenges
        }
        return temp
      }
    },
    firebase: function () {
      return {
        fields: {
          source: db.ref('fields'),
          asObject: false,
          readyCallback: function (snapshot) {
            this.syncUser();
            this.challenges = this.fields;
            this.getData();
          }
        },
        user: {
          source: db.ref('Users/' + auth.currentUser.uid + '/'),
          asObject: true,
          readyCallback: function (snapshot) {
            this.currentUser = snapshot.val();
            this.getData();
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>
