<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <img src="@/assets/logo.png" alt="Vuetify.js" class="mb-5">
        <blockquote>
          &#8220;First, solve the problem. Then, write the code.&#8221;
          <footer>
            <small>
              <em>&mdash;John Johnson</em>
            </small>
          </footer>
        </blockquote>
        <v-btn @click="test">Let Me Test</v-btn>

      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>

  import {generateQuestion} from "../../functions";
  import {submitTest} from "../../functions";

  export default {
    methods: {
      async test(){
        generateQuestion("algorithm", 1).then((v) => console.log("QQQQ", v))
        //
        // var lst = [];
        // var map = {};
        // const q1 = {correct: ["a", "d"], difficulty: "easy", question: "qa12"};
        // const q2 = {correct: ["b"], difficulty: "medium", question: "qb35"};
        // // console.log("q1: ", q1);
        // // console.log("q2: ", q2);
        // lst.push(q1);
        // lst.push(q2);
        // map["qa12"]=["a", "d"];
        // map["qb35"]=["b", "c"];
        // console.log(submitTest(lst, map, 3));

      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
