<template>
  <v-container grid-list-lg text-xs-center>
    <v-layout row wrap fill-height>


      <v-flex xs12>
        <v-card dark color="primary">
          <v-layout xs12>
            <v-flex xs4></v-flex>
            <!--<v-flex xs4>-->
              <!--<v-card-text class="px-0">Profile Summary</v-card-text>-->
            <!--</v-flex>-->
            <v-flex xs12 class="text-xs-right">
              <v-btn
                slot="activator"
                color="white"
                dark
                @click="userEdit"
              >
                <v-icon color="black">edit</v-icon>
              </v-btn>

              <v-dialog
                v-model="user.challengeQuestions"
                max-width="600"
              >
                <v-card>
                  <v-card-title class="headline">You haven't finish your test</v-card-title>
                  <v-card-text>Would you like to resume the test or give up?</v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click="giveUp">Give Up</v-btn>
                    <v-btn color="green darken-1" flat @click="resume">Resume</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!--<v-dialog-->
              <!--v-model="dialog"-->
              <!--persistent max-width="500px"-->
              <!--&gt;-->
              <!--<v-btn-->
              <!--slot="activator"-->
              <!--color="white"-->
              <!--dark-->
              <!--&gt;-->
              <!--<v-icon color="black">edit</v-icon>-->
              <!--</v-btn>-->

              <!--<v-card>-->
              <!--<v-card-title-->
              <!--class="headline"-->
              <!--&gt;-->
              <!--Edit Profile-->
              <!--</v-card-title>-->
              <!--<v-card-text>-->

              <!--<v-form >-->
              <!--<v-text-field-->
              <!--label="Email"-->
              <!--v-model="this.editEmail"-->
              <!--name="email"-->
              <!--type="text"-->
              <!--&gt;</v-text-field>-->
              <!--<v-text-field-->
              <!--label="Username"-->
              <!--v-model="this.editName"-->
              <!--name="username"-->
              <!--type="text"-->
              <!--&gt;</v-text-field>-->

              <!--<v-text-field-->
              <!--label="Biography"-->
              <!--v-model="this.editBio"-->
              <!--name="biography"-->
              <!--type="text"-->
              <!--&gt;</v-text-field>-->
              <!--</v-form>-->
              <!--</v-card-text>-->


              <!--<v-divider></v-divider>-->

              <!--<v-card-actions>-->
              <!--<v-spacer></v-spacer>-->
              <!--<v-btn-->
              <!--color="primary"-->
              <!--flat-->
              <!--@click="dialog = false"-->
              <!--&gt;-->
              <!--Cancel-->
              <!--</v-btn>-->
              <!--<v-btn-->
              <!--color="primary"-->
              <!--flat-->
              <!--@click="userEdit"-->
              <!--&gt;-->
              <!--Confirm-->
              <!--</v-btn>-->
              <!--</v-card-actions>-->
              <!--</v-card>-->
              <!--</v-dialog>-->
            </v-flex>
          </v-layout>

          <v-layout xs12 row wrap>
            <!--<v-flex xs4></v-flex>-->
            <v-flex xs12 v-if="user.profilePic">
              <v-avatar
                size="126">
                <img :src="user.profilePic" alt="avatar">
              </v-avatar>
            </v-flex>

            <v-flex xs12 v-else>
              <v-avatar
                size="126">
                <img :src="profilePic" alt="avatar">
              </v-avatar>
            </v-flex>
          </v-layout>

          <v-flex xs12>
            <v-card-text class="headline px-0"> {{user.username}}</v-card-text>
            <v-card-text> {{user.bio}}</v-card-text>
          </v-flex>
        </v-card>
      </v-flex>

      <!--<v-flex xs3 d-flex>-->
      <!--<v-card dark color="primary">-->
      <!--<v-card-text>-->
      <!--Software Engineer - Tier {{this.user[2]['Software_Engineer']}} <br/>-->
      <!--</v-card-text>-->
      <!--<v-card-text>-->
      <!--Algorithm - Tier {{this.user[2]['Algorithm']}} <br/>-->
      <!--</v-card-text>-->
      <!--<v-card-text>-->
      <!--Operating System - Tier {{this.user[2]['Operating_System']}} <br/>-->
      <!--</v-card-text>-->
      <!--<v-card-text>-->
      <!--Data Analysis - Tier {{this.user[2]['Data_Analysis']}}-->
      <!--</v-card-text>-->
      <!--</v-card>-->

      <!--</v-flex>-->

      <v-flex xs12>
        <v-btn @click="foo" block color="third" dark>Go to Challenge</v-btn>
      </v-flex>


      <v-flex xs6>
        <v-card dark color="primary">
          <v-card-text class="third--text font-weight-medium px-0">TROPHY</v-card-text>
          <v-layout row wrap>
          <v-flex xs1 md4 v-for="t in this.trophy" :key="t">
            <v-flex>
            <v-card-media
              :src= "`static/trophies/`+t+`.png`"
              height="50px"
              width="50px"
              contain
            ></v-card-media>
            <v-card-text>{{t}}</v-card-text>
            </v-flex>
          </v-flex>
          </v-layout>
        </v-card>
        <v-card color="primary">
          <!--<v-card-text class="px-0">Stat</v-card-text>-->
          <v-tabs
            color="primary"
            dark
            slider-color="third"
            v-model="active"
            centered
          >
            <v-tab

              :key="1"
              ripple
            >
              Tier 1
            </v-tab>
            <v-tab

              :key="2"
              ripple
            >
              Tier 2
            </v-tab>
            <v-tab

              :key="3"
              ripple
            >
              Tier 3
            </v-tab>

            <v-tab-item
              :key="1"
            >
              <graph
                :data="tier1Data"
                :options="{responsive: true, maintainAspectRatio: true}"/>
            </v-tab-item>
            <v-tab-item
              :key="2"
            >
              <graph
                :data="tier2Data"
                :options="{responsive: true, maintainAspectRatio: true}"/>
            </v-tab-item>
            <v-tab-item
              :key="3"
            >
              <graph
                :data="tier3Data"
                :options="{responsive: true, maintainAspectRatio: true}"/>
            </v-tab-item>
          </v-tabs>
          <!--<graph-->
          <!--:data="dataCollection"-->
          <!--:options="{responsive: true, maintainAspectRatio: false}"/>-->
        </v-card>
      </v-flex>
      <v-flex xs6 d-flex>
        <v-card dark color="primary">
          <v-card-text class="third--text font-weight-medium px-0">HISTORY</v-card-text>
          <v-container
            id="scroll-target"
            style="max-height: 400px"
            class="scroll-y"
          >
            <v-expansion-panel v-if="user.pastTest">
              <v-expansion-panel-content
                v-for="(i,k) in user.pastTest"
                :key="k"
              >
                <div slot="header">{{i['skill']}} - Tier {{i['tier']}}</div>
                <v-card>
                  <v-card-text> {{i['score']}}%</v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-container>
          <v-btn
            color="primary"
            dark
            @click.stop="dialog = true"
          >
            see graph
          </v-btn>

          <v-dialog
            v-model="dialog"
            max-width="600"
          >
            <v-card>

              <line-chart
                :data="lineChartData"
                :options="{responsive: true, maintainAspectRatio: true}"/>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                  color="green darken-1"
                  flat="flat"
                  @click="dialog = false"
                >
                  Close
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import Graph from '@/components/Dashboard/Graph.vue'
  import LineChart from '@/components/Dashboard/LineChart.vue'
  import {auth, db} from '../../firebase'
  import router from '@/router'
  import {checkTrophy, getMaxScore} from "../../../functions"

  export default {
    components: {Graph, auth, db, router, LineChart, checkTrophy},
    data: () => ({
      active: 0,
      user: {},
      trophy:[],
      dialog: false,
      profilePic: "static/default-profile.png",
      editName: "",
      editBio: "",
      editEmail: "",
      bio: `Lorem ipsum dolor sit amet, mel at clita quando. Te sit oratio vituperatoribus, nam ad ipsum posidonium mediocritatem, explicari dissentiunt cu mea. Repudiare disputationi vim in, mollis iriure nec cu, alienum argumentum ius ad. Pri eu justo aeque torquatos.`,
      offsetTop: 0,
      lineChartData:{
        labels: [],
        datasets: [
          {
            label: 'Test Score',
            backgroundColor: 'rgba(75,192,192,0.1)',
            data: []
          }
        ]
      },
      tier1Data: {
        labels: ['Algorithm', 'Software Engineering', "Data Analysis", 'Operating System'],
        datasets: [
          {
            label: 'Skills',
            backgroundColor: 'rgba(49,131,120,0.5)',
            borderColor: 'rgba(49,131,120,1)',
            pointBackgroundColor: 'rgba(49,131,120,1)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgba(49,131,120,1)',
            data: [0, 0, 0, 0]
          }
        ]
      },
      tier2Data: {
        labels: ['Algorithm', 'Software Engineering', "Data Analysis", 'Operating System'],
        datasets: [
          {
            label: 'Skills',
            backgroundColor: 'rgb(231,200,93,0.3)',
            borderColor: 'rgba(231,200,93,1)',
            pointBackgroundColor: 'rgba(231,200,93,1)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgba(231,200,93,1)',
            data: [0, 0, 0, 0]
          }
        ]
      },
      tier3Data: {
        labels: ['Algorithm', 'Software Engineering', "Data Analysis", 'OS'],
        datasets: [
          {
            label: 'Skills',
            backgroundColor: 'rgba(213,86,62,0.5)',
            borderColor: 'rgba(213,86,62,1)',
            pointBackgroundColor: 'rgba(213,86,62,1)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgba(213,86,62,1)',
            data: [0, 0, 0, 0]
          }
        ]
      },


    }),
    async beforeMount() {
      if(getMaxScore(this.user.pastTest).algorithm1){
        this.tier1Data.datasets[0].data[0] = getMaxScore(this.user.pastTest).algorithm1
      }
      if(getMaxScore(this.user.pastTest).softwareEngineer1){
        this.tier1Data.datasets[0].data[1] = getMaxScore(this.user.pastTest).softwareEngineer1
      }
      if(getMaxScore(this.user.pastTest).dataAnalysis1){
        this.tier1Data.datasets[0].data[2] = getMaxScore(this.user.pastTest).dataAnalysis1
      }
      if(getMaxScore(this.user.pastTest).operatingSystem1){
        this.tier1Data.datasets[0].data[3] = getMaxScore(this.user.pastTest).operatingSystem1
      }

      if(getMaxScore(this.user.pastTest).algorithm2){
        this.tier2Data.datasets[0].data[0] = getMaxScore(this.user.pastTest).algorithm2
      }
      if(getMaxScore(this.user.pastTest).softwareEngineer2){
        this.tier2Data.datasets[0].data[1] = getMaxScore(this.user.pastTest).softwareEngineer2
      }
      if(getMaxScore(this.user.pastTest).dataAnalysis2){
        this.tier2Data.datasets[0].data[2] = getMaxScore(this.user.pastTest).dataAnalysis2
      }
      if(getMaxScore(this.user.pastTest).operatingSystem2){
        this.tier2Data.datasets[0].data[3] = getMaxScore(this.user.pastTest).operatingSystem2
      }

      if(getMaxScore(this.user.pastTest).algorithm3){
        this.tier3Data.datasets[0].data[0] = getMaxScore(this.user.pastTest).algorithm3
      }
      if(getMaxScore(this.user.pastTest).softwareEngineer3){
        this.tier3Data.datasets[0].data[1] = getMaxScore(this.user.pastTest).softwareEngineer3
      }
      if(getMaxScore(this.user.pastTest).dataAnalysis3){
        this.tier3Data.datasets[0].data[2] = getMaxScore(this.user.pastTest).dataAnalysis3
      }
      if(getMaxScore(this.user.pastTest).operatingSystem3){
        this.tier3Data.datasets[0].data[3] = getMaxScore(this.user.pastTest).operatingSystem3
      }

      let i
      for (i in this.user.pastTest){
        console.log(this.user.pastTest[i].skill)
        this.lineChartData.labels.unshift(this.user.pastTest[i].skill+" - Tier "+this.user.pastTest[i].tier)
        this.lineChartData.datasets[0].data.unshift(this.user.pastTest[i].score)
      }


      // checkTrophy("o0j7IIg8YSMLIWZEPzi0BtCjO803").then((v) =>(console.log(v)))
      // console.log(trophy)
      const userId = auth.currentUser.uid;
      // let u;
      const newTrophy = await checkTrophy(userId);
      const userDB = db.ref("/Users/"+userId);
      const snapshot = await userDB.once("value");
      const userInfo = snapshot.val();

      if (!userInfo.trophy){
        this.trophy = newTrophy;
      }
      else{
        this.trophy = userInfo.trophy.concat(newTrophy);
      }
      await db.ref("/Users/"+userId+"/trophy").set(this.trophy);






      // db.ref('/Users/' + userId).once('value').then((s) => {
      //   const u = s.val().pastTest;
      //   let i;
      //   for (i in u) {
      //     this.lineChartData.labels.unshift(u[i].skill+" - Tier "+u[i].tier)
      //     this.lineChartData.datasets[0].data.unshift(u[i].score)
      //
      //     if (u[i].score > this.tier1Data.datasets[0].data[0] && u[i].skill === "algorithm" && u[i].tier === 1) {
      //       // console.log('hello')
      //       this.tier1Data.datasets[0].data[0] = u[0].score
      //
      //     }
      //     if (u[i].score > this.tier1Data.datasets[0].data[1] && u[i].skill === "softwareEngineer" && u[i].tier === 1) {
      //       // console.log('hello')
      //       this.tier1Data.datasets[0].data[0] = u[1].score
      //
      //     }
      //     if (u[i].score > this.tier1Data.datasets[0].data[2] && u[i].skill === "dataAnalysis" && u[i].tier === 1) {
      //       // console.log('hello')
      //       this.tier1Data.datasets[0].data[0] = u[2].score
      //
      //     }
      //     if (u[i].score > this.tier1Data.datasets[0].data[3] && u[i].skill === "operatingSystem" && u[i].tier === 1) {
      //       // console.log('hello')
      //       this.tier1Data.datasets[0].data[0] = u[3].score
      //
      //     }
      //
      //     if (u[i].score > this.tier2Data.datasets[0].data[0] && u[i].skill === "algorithm" && u[i].tier === 2) {
      //       // console.log('hello')
      //       this.tier2Data.datasets[0].data[0] = u[0].score
      //
      //     }
      //     if (u[i].score > this.tier2Data.datasets[0].data[1] && u[i].skill === "softwareEngineer" && u[i].tier === 2) {
      //       // console.log('hello')
      //       this.tier2Data.datasets[0].data[0] = u[1].score
      //
      //     }
      //     if (u[i].score > this.tier2Data.datasets[0].data[2] && u[i].skill === "dataAnalysis" && u[i].tier === 2) {
      //       // console.log('hello')
      //       this.tier2Data.datasets[0].data[0] = u[2].score
      //
      //     }
      //     if (u[i].score > this.tier2Data.datasets[0].data[3] && u[i].skill === "operatingSystem" && u[i].tier === 2) {
      //       // console.log('hello')
      //       this.tier2Data.datasets[0].data[0] = u[3].score
      //
      //     }
      //
      //     if (u[i].score > this.tier3Data.datasets[0].data[0] && u[i].skill === "algorithm" && u[i].tier === 3) {
      //       // console.log('hello')
      //       this.tier3Data.datasets[0].data[0] = u[0].score
      //
      //     }
      //     if (u[i].score > this.tier3Data.datasets[0].data[1] && u[i].skill === "softwareEngineer" && u[i].tier === 3) {
      //       // console.log('hello')
      //       this.tier3Data.datasets[0].data[0] = u[1].score
      //
      //     }
      //     if (u[i].score > this.tier3Data.datasets[0].data[2] && u[i].skill === "dataAnalysis" && u[i].tier === 3) {
      //       // console.log('hello')
      //       this.tier3Data.datasets[0].data[0] = u[2].score
      //
      //     }
      //     if (u[i].score > this.tier3Data.datasets[0].data[3] && u[i].skill === "operatingSystem" && u[i].tier === 3) {
      //       // console.log('hello')
      //       this.tier3Data.datasets[0].data[0] = u[3].score
      //
      //     }
      //
      //
      //   }
      //
      //
      // }).catch(err => console.log(err))
    },
    firebase: function () {
      return {
        user: {
          source: db.ref('/Users/' + auth.currentUser.uid + '/'),
          asObject: true,
        }
      }
    },
    methods: {
      async test(){
        checkTrophy("o0j7IIg8YSMLIWZEPzi0BtCjO803").then((v) => console.log(v))
      },
      giveUp(){
        let uid = auth.currentUser.uid;
        let ref = "/Users/"+uid;
        db.ref(ref).child("challengeQuestions").remove()
        db.ref(ref).child("challengeTime").remove()
      },
      resume(){
        this.$store.dispatch('createChallenge', this.user.challengeQuestions)
        router.push('/test')
      },
      userEdit() {
        router.push('/editprofile')

      },
      onScroll(e) {
        this.offsetTop = e.target.scrollTop
      },
      foo() {
        // console.log(this.curUser)
        router.push('/challenge')
        // console.log(getMaxScore(this.user.pastTest).algorithm1)

      }
    },

  }
</script>

<style scoped>

</style>
