<template>
  <v-container fluid >
    <v-layout row wrap>
      <v-flex xs12 class="text-xs-center white--text" mt-5 >
        <h1>Edit Profile</h1>
      </v-flex>
      <v-flex xs12 sm6 offset-sm3 mt-3 >
      <form @submit.prevent="userEdit">
        <v-layout column>
          <v-flex>
            <v-alert type="error" dismissible v-model="alert">
              Don't leave field(s) blank!
            </v-alert>
          </v-flex>
          <v-flex>
            <div class="caption white--text">
              Profile picture: <file-select v-model="file"></file-select>
            </div>
          </v-flex>
          <v-flex>
            <v-text-field
            label="Email"
            v-model="email"
            name="email"
            type="email"
            dark
            ></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field
            label="Username"
            v-model="name"
            name="username"
            type="text"
            dark
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field
            label="Biography"
            v-model="bio"
            name="biography"
            type="text"
            dark
            ></v-text-field>
          </v-flex>
          <v-flex class="text-xs-left" mt-1>
            <v-btn color="primary" @click="sendVerifyEmail">Verify email</v-btn>
            <v-btn color="primary" @click="sendPasswordReset">Password reset</v-btn>
          </v-flex>
          <v-flex class="text-xs-right" mt-5>
            <v-btn @click='back' color="secondary" type="submit">Back</v-btn>
            <v-btn color="third" type="submit">update</v-btn>
          </v-flex>
        </v-layout>
      </form>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { auth, db } from '../../firebase'
  import router from '@/router'
  import FileSelect from './FileSelect.vue'
  import firebase from '@/firebase'
  export default {
    components: {
      auth, db, FileSelect, firebase
    },
    beforeMount(){

    },
    data () {
      return {
        email:'',
        name:'',
        bio: '',
        file: null,
        picture:'https://firebasestorage.googleapis.com/v0/b/puyo-4858a.appspot.com/o/29342404_1651558714912885_8821876827908993035_n.jpg?alt=media&token=9a95ea06-7d74-496f-8734-4cc0ed379028',
        alert: false
      }
    },
    created: function () {
    },
    methods: {
      back(){
        router.push('/dashboard')
      },
      sendPasswordReset () {
        const email = auth.currentUser.email
        auth.sendPasswordResetEmail(email).then(function () {
          alert('Password reset sent to your email')
        })
      },
      sendVerifyEmail () {
        const user = auth.currentUser
        user.sendEmailVerification().then(function () {
          alert('Email verification sent')
        })
      },
      userEdit () {
        if (this.name.trim() === '' || this.bio.trim() === '' || this.email.trim()==='') {
          alert('don\'t leave field(s) blank!')
          return
        }
        // console.log(this.name)
        let uid = auth.currentUser.uid;
        let ref = "/Users/"+uid;
        db.ref(ref).child("username").set(this.name)
        db.ref(ref).child("bio").set(this.bio)
        db.ref(ref).child("email").set(this.email)
        auth.currentUser.updateEmail(this.email)

        if(this.file!=null){
          var storageRef = firebase.storage().ref('images/' + this.file.name)
          var uploadTask = storageRef.put(this.file)
          uploadTask.on('state_changed', function (snapshot) {
            var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
            console.log('Upload is ' + progress + '% done')
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED: // or 'paused'
                // console.log('Upload is paused')
                break
              case firebase.storage.TaskState.RUNNING: // or 'running'
                // console.log('Upload is running')
                break
              case firebase.storage.TaskState.SUCCESS:
                // console.log('Upload success')
            }
          }, function (error) {
            console.log(error)
          }, function () {
            uploadTask.snapshot.ref.getDownloadURL().then(url => {
              db.ref(ref).child("profilePic").set(url)
            })
          })
        }

        router.push('/dashboard')
      }
    },
    firebase: function() {
      return {
        user: {
          source: db.ref('/Users/' + auth.currentUser.uid +'/'),
          asObject: true,
          readyCallback: (s)=>{
            // let u = s.val();
            this.email=this.user.email
            this.name=this.user.username
            this.bio=this.user.bio
            if (typeof this.user.picture !== 'undefined') {
              this.picture = this.user.picture
            }
          }
        }
      }
    },
    computed: {
      error () {
        return this.$store.state.error
      },
      loading () {
        return this.$store.state.loading
      }
    },
    watch: {
      error (value) {
        if (value) {
          this.alert = true
        }
      },
      alert (value) {
        if (!value) {
          this.$store.commit('setError', null)
        }
      }
    }
  }
</script>


