<template>
  <v-app id="inspire" style="background: #394045">
    <v-toolbar
      color="primary"
      dense
      tabs
    >
      <v-toolbar-title class="white--text mr-3">PUYO PUYO</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items>

        <v-btn class="white--text" flat @click="userSignOut" v-if="isAuthenticated">
          <v-icon left>exit_to_app</v-icon>
          Sign Out
        </v-btn>

      </v-toolbar-items>

      <div class="text-xs-right">
        <signup v-if="!isAuthenticated" ></signup>
      </div >
      <div class="text-xs-right">
        <signin v-if="!isAuthenticated" ></signin>
      </div>

      <v-tabs
        slot="extension"
        dark
        v-if="isAuthenticated"
        centered
        v-model="tab"
        color="primary"
        slider-color="third"
      >
        <v-tab
          v-for="(item,i) in items"
          :key="i"
          :href="`#tab-${i}`"
          :to="item.path"
        >
          <v-icon left dark>{{ item.icon }}</v-icon>
          {{ item.text  }}
        </v-tab>
      </v-tabs>
    </v-toolbar>

    <v-container fluid pa-0>
      <router-view></router-view>
    </v-container>

    <!--<v-footer class=" white pa-5">-->
      <!--<v-spacer></v-spacer>-->
      <!--<div>&copy; {{ new Date().getFullYear() }}</div>-->
    <!--</v-footer>-->

  </v-app>
</template>

<script>
  import {auth} from "./firebase";
  import Signin from "./components/Landing/Signin";
  import Signup from "./components/Landing/Signup";

  export default {
    components: {
      Signup,
      Signin},
    name: 'App',
    data() {
      return {
        tab: null,
        drawer: null,
        dialog: false,
        items: [
          {icon: 'home', text: 'Dashboard', path: '/dashboard'},
          {icon: 'assignment_ind', text: 'Challenge', path: '/challenge'},
        ],
        currUser: auth.currentUser,
      }
    },
    computed: {
      isAuthenticated() {
        return this.$store.getters.isAuthenticated
      },
    },
    methods: {
      userSignOut() {
        this.$store.dispatch('userSignOut')
      }
    },
  }
</script>


